<div class="emergency-banner" *ngIf="activeEmergency">
  <div class="left">
    <ion-icon name="warning" class="warn-icon"></ion-icon>
    <div class="text">
      <div class="headline">EMERGENCY ALERT</div>
      <div class="subline">Triggered by {{ activeEmergency.triggeredByName }} · {{ timeText }}</div>
    </div>
  </div>

  <ion-button size="small" fill="solid" class="view-btn" (click)="openNotifications()">
    View
  </ion-button>
</div>

<div class="emergency-banner emergency-banner--resolved" *ngIf="resolvedBanner && !activeEmergency">
  <div class="left">
    <ion-icon name="checkmark-circle" class="resolved-icon"></ion-icon>
    <div class="text">
      <div class="headline">{{ resolvedBanner.headline }}</div>
      <div class="subline">{{ resolvedBanner.subline }}</div>
    </div>
  </div>
</div>

