{
  "project_info": {
    "project_number": "418034723029",
    "project_id": "fetchsafe2",
    "storage_bucket": "fetchsafe2.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_VALUE_FROM_FIREBASE_CONSOLE",
        "android_client_info": {
          "package_name": "io.ionic.starter"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
